.about {
    grid-area: main;
    margin: 1rem 3rem;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.about__img-wrap {
    grid-column: 1 / 12;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(109, 156, 195, 0.329);
    box-shadow: 0 0 0.75rem rgb(100 152 195 / 50%);
    border-radius: 1rem;
}

.about__img-wrap.dark {
    background-color: #bacde6;
}

.about__content {
    grid-column: 13 / 24;
    animation-name: about-container-fade;
    animation-duration: 1.5s;
}

.about__img {
    width: 90%;
    margin: 1rem;
    border-radius: 1rem;
}

.about__section-header {
    width: 100%;
    line-height: 2;
    border-radius: 5rem;
    font-weight: bold;
}

.about__section-title {
    font-size: 1rem;
    text-align: center;
}

.about__section-content {
    background-color: white;
    width: 100%;
    border-radius: 1rem;
    line-height: 2;
    border: 1px solid rgb(176, 38, 38);
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.about__section-text {
    font-size: 1rem;
    font-weight: bold;
    color: #191cd5;
    margin: 1rem;
}

.about__img-wrap:hover,
.about__section-content:hover {
    box-shadow: 0 4px 12px 12px rgba(112, 137, 162, 0.15);
}

@media screen and (max-width: 44rem) {
    .about {
        margin: 0.5rem;
    }

    .about__img-wrap {
        grid-column: span 24;
    }

    .about__content {
        grid-column: span 24;
        animation-duration: 1.5s;
    }

    .about__section-header {
        margin-top: 0.5rem;
    }

    .about__section-content {
        margin-top: 0;
    }

}