*,
*::before,*::after {
    box-sizing: border-box;
}

#root {
    background-color: #e99872; 
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #e99872;
}

span {
    font-weight: bold;
    grid-column: span 12;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #b07381;
}

.header-logo {
    grid-column: span 1;
    width: 100%;
    aspect-ratio: 1/1;
}

.header-title {
    grid-column: span 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    color: white;
    text-align: center;
}

.main {
    font-size: 1rem;
    grid-template-columns: repeat(12, 1fr); 
}

label{
    margin: 10px;
    text-align: right;
}

div.form {
    border: 5px solid black;

    border-radius: 30px;
    margin: 120px;
    background-color: pink;
}

form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    height: 400px;
}

div.label {
    text-align: center;
    display: flex;
    padding: 15px;
    margin: 5px;
}

div.label1 {
    padding: 10px;
    margin: 5px;
}

.name span:before {
    content: " *";
    color: red;
}
.name span:after {
    content: " (require)";
    color: gray;
    font-size: 12px;
}

.email span:before {
    content: " *";
    color: red;
}

.email span:after {
    content: " (require)";
    color: gray;
    font-size: 12px;
}

.tier span:after {
    content: " (require)";
    color: gray;
    font-size: 12px;
}

.tier span:before {
    content: " *";
    color: red;
}

footer {
    grid-area: footer;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: #b07381;
    position: relative;
}

.footer-menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-item {
    grid-column: span 12;
    display: grid;
    text-align: center;
    gap: 2rem;
}

@media screen and (min-width: 50rem) {

    .footer-item {
        display: flex;
        justify-content: space-around;

    }
}