*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #FFFFA1;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.header__logo {
    grid-column: span 2;
    aspect-ratio: 1/1;
    width: 100%;
}

.header__title {
    color: Blue;
    grid-column: span 8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;

}

div.form {
    border: 5px solid black;
    margin: 30px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    height: 300px;
}

div.label {
    text-align: center;
    display: flex;
    padding: 20px;
    margin: 5px;
}

div.label1 {
    padding: 10px;
    margin: 5px;
}

.name span:after {
    content: " *";
    color: red;
}

.email span:after {
    content: " *";
    color: red;
}

.tier span:after {
    content: " *";
    color: red;
}

.footer__menu {
    display: grid;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer__item {
    grid-column: span 12;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 50rem) {
    div.label {
        flex-direction: column;
        display: flex;
    }
}